@import "tailwindcss";

@font-face {
     font-family: 'DungGeunMo';
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}

html,
body {
  padding: 0;
  margin: 0;
  /* height와 overflow 속성을 제거하거나 아래처럼 auto로 설정합니다. */
  height: auto;
  overflow: auto;
}

